@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.center {
    align-items: center;
    justify-content: center;
}

.lg-only {
    @apply md:block hidden;
}

img {
    max-width: 100%;
}

.border {
    border: 1px solid red;
    /* original primary.200 = #F3F4FF */
    color: #cacbd4;
}

.btn-animate {
    @apply active:scale-90 transition-[scale] duration-300;
}

button {
    @apply active:scale-95 transition-transform duration-300;
}

@layer {
    .submit {
        @apply rounded-sm bg-green-600 px-4 py-2 text-white hover:bg-green-500 font-bold;
    }

    .btn-1 {
        @apply rounded-sm px-4 py-2 font-bold;
    }

    .icon-button {
        @apply bg-transparent hover:bg-opacity-25;
        border-radius: 50%;
    }
}
